* {
  padding: 0px;
  margin: 0px;
}
.document-uploader{
  position: relative;
  left:0px;
  top:0px;
  max-width: 500px;
  margin: 0 auto;
  max-height:800px;
}
.controller{
  position:fixed;
  bottom: 0px;
  left:0px;
  z-index: 999;
  background-color:white;
  padding:10px;
  width:100%;
}

.camera-btn {
  border-radius: 50%;
  border: 5px solid red;
}

.send-document-btn{
  border-radius: 10px;
  border:none;
  color: #21868A;
  font-weight: bold;
}
.send-document-btn,
.camera-btn {
  background : none;
  padding:4px;
  
}
.camera-btn:hover,
.send-document-btn:hover {
  background: rgb(231, 229, 229);
  cursor: pointer;
}
