* {
  padding: 0px;
  margin: 0px;
}
.header {
  height: 90px;
  width: 100%;
  background-color: #21868a;
}
.header-logo {
  height: 35px;
  margin-top: 35px;
  margin-left: 20px;
}

.camera-btn {
  width: 80px;
}
.send-document-btn,
.camera-btn {
  background: #6b076b;
  border: solid 1px gray;
  padding: 5px;
  border-radius: 5px;
}
.camera-btn:hover,
.send-document-btn:hover {
  background: #800080;
  cursor: pointer;
}
